@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    background-color: rgb(19, 19, 19);
    font-family: Inter;
    color: white;
    text-align: center;
}

.card {
    border: 1px solid rgba(37, 37, 37, 0.89);
    width: 25%;
    height: 100%;
    margin-left: 37%;
    margin-bottom: 5%;
    margin-top: 3%;
    border-radius: 15px;
    background-color: hsl(0, 0%, 12%);
}

img.icon-image {

    width: 30%;
    margin-top: 5%;
    border-radius: 100%;
}

img.icon-image:hover {
    cursor: zoom-in;
    border: 1px solid white;
    transition: 0.3s;
}

h1 {
    font-weight: 700;
}

h3.location {
    font-weight: 600;
    color: hsl(75, 94%, 57%);
}

p.description {
    font-size: 14px;
    letter-spacing: 1px;
}

ul {
    padding-top: 5%;

}

li.social-media-links {
    list-style: none;
    margin-top: 6%;
    margin-bottom: 13%;
    margin-left: -7%;
}

li a {
    cursor: pointer;
    font-family: sans-serif;
    border: 1px solid rgb(58, 58, 58);
    color: white;
    border-radius: 12px;
    background-color: hsl(0, 0%, 20%);
    text-decoration: none;
    width: 100%;

}

li a:hover {
    color: black;
    background-color: hsl(75, 94%, 57%);
}

li a.instagram {
    padding: 4% 37% 4% 37%;
}

li a.twitter {
    padding: 4% 40% 4% 40%;
}

li a.linkedin {
    padding: 4% 39% 4% 39%;
}

li a.mentor {
    padding: 4% 33% 4% 33%;
}

li a.github {
    padding: 4% 40% 4% 40%;
}

/*media queries */


@media (max-width:1439px) {
    .card {

        width: 30%;
        margin-left: 35%;
    }

    li a.instagram {
        padding: 4% 31% 4% 31%;
    }

    li a.twitter {
        padding: 4% 33.2% 4% 33.2%;
    }

    li a.linkedin {
        padding: 4% 32% 4% 32%;
    }

    li a.mentor {
        padding: 4% 25% 4% 25%;
    }

    li a.github {
        padding: 4% 33% 4% 33%;
    }
}

@media (max-width:1199px) {
    .card {

        width: 40%;
        margin-left: 30%;
    }

    li a.instagram {
        padding: 4% 31% 4% 31%;
    }

    li a.twitter {
        padding: 4% 33.3% 4% 33.4%;
    }

    li a.linkedin {
        padding: 4% 32% 4% 32%;
    }

    li a.mentor {
        padding: 4% 27% 4% 27%;
    }

    li a.github {
        padding: 4% 33% 4% 33%;
    }
}

@media (max-width:1024px) {
    .card {

        width: 40%;
        margin-left: 30%;
    }

    li a.instagram {
        padding: 4% 30% 4% 30%;
    }

    li a.twitter {
        padding: 4% 33.3% 4% 33.4%;
    }

    li a.linkedin {
        padding: 4% 31% 4% 32%;
    }

    li a.mentor {
        padding: 4% 25% 4% 25%;
    }

    li a.github {
        padding: 4% 33% 4% 33%;
    }
}

@media (max-width: 767px) {
    .card {

        width: 65%;
        margin-left: 15%;
    }

    li a.instagram {
        padding: 4% 30% 4% 30%;
    }

    li a.twitter {
        padding: 4% 33.3% 4% 33.4%;
    }

    li a.linkedin {
        padding: 4% 32% 4% 32%;
    }

    li a.mentor {
        padding: 4% 25% 4% 25%;
    }

    li a.github {
        padding: 4% 33% 4% 33%;
    }
}

@media (max-width:480px) {
    .card {
        width: 85%;
        margin-left: 5%;
    }

    li a.instagram {
        padding: 4% 30% 4% 30%;
    }

    li a.twitter {
        padding: 4% 33.3% 4% 33.4%;
    }

    li a.linkedin {
        padding: 4% 32% 4% 32%;
    }

    li a.mentor {
        padding: 4% 25% 4% 25%;
    }

    li a.github {
        padding: 4% 33% 4% 33%;
    }
}

@media (max-width:375px) {
    .card {
       margin-top: 20%;
    }
  
    li a.instagram {
        padding: 4% 29% 4% 29%;
        font-size: small;
    }

    li a.twitter {
        padding: 4% 33.4% 4% 33.4%;
        font-size: small;
    }

    li a.linkedin {
        padding: 4% 32% 4% 32%;
        font-size: small;
    }

    li a.mentor {
        padding: 4% 24% 4% 22%;
        font-size: small;
    }

    li a.github {
        padding: 4% 33% 4% 33%;
        font-size: small;
    }
}
@media (max-width:223px){
    li a.mentor {
        padding: 4% 20% 4% 20%;
        font-size: 11px;
    }
}

/* @media (min-width:1020px){
    .card{
        width: 40%;
        margin-left: 30%;
    }
    li a.instagram{
        padding: 4% 30% 4% 30%;
    }
    li a.twitter{
        padding: 4% 33.3% 4% 33.4%;
    }
    li a.linkedin{
        padding: 4% 32% 4% 32%;
    }
    li a.mentor{
        padding: 4% 25% 4% 25%;
    }
    li a.github{
        padding: 4% 33% 4% 33%;
    }
}
@media (max-width:1400px){
    .card{
        margin-left: 35%;
        width: 20%;
    }
} */